{% extends "base_layout.html" %}
{% if user.is_authenticated %}
{% block content %}
    <div class="row">
        <div class="col-md-8 mt-5 mx-auto" style="background-color: white;">
            <code>
            <h3 class="text-center m-3"><i>Department Profile</i></h3>
            </code>
            <h6 class="text-center">Patient Name:{{department.patient_in_depart }}</h6>
            <h6 class="text-center">Department Name:{{department.DepartmentName }}</h6>
            <h6 class="text-center">Department Location: {{ department.DeapartmentLocation }}</h6>
            <h6 class="text-center">Department Email Address: {{department.Deapartment_email }}</h6>
            <hr>
            <div class="row mx-auto">
            <div class="col-4 mt-5 mx-auto m-5">
                <a href="{% url 'departments' %}" class="btn btn-secondary">Back To Departments</a>
            </div>
            <div class="col-4 mt-5 mx-auto m-5">
                <a href="{% url 'add_department' %}" class="btn btn-secondary">Add New Department</a>
            </div>
            <div class="col-4 mt-5 mx-auto m-5">
                <a href="{% url 'departments' %}" class="btn btn-secondary">Back Home</a>
            </div>
        </div>
        </div>
        
    </div>

{% endblock %}
{% else %}
    {% include "login1.html" %}
{% endif %}