{% extends "base_layout.html" %}
{% if user.is_authenticated %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-5 mx-auto" style="background-color: rgb(231, 221, 221);">
            <code>
            <h3 class="text-center m-3"><i>Nurse Profile</i></h3>
            </code>
            <h4 class="text-center">ID No: {{ nurse.Nurse_Id }}</h4>
            <h6 class="text-center">First Name: {{ nurse.Nurse_First_Name }}</h6>
            <h6 class="text-center">Last Name: {{ nurse.Nurse_Last_Name}}</h6>
            <h6 class="text-center">Phone No: {{ nurse.Phone_number  }}</h6>
            <h6 class="text-center">Email Address: {{ nurse.Email  }}</h6>
            <h6 class="text-center">Gender: {{ nurse.gender }}</h6>
            <hr>

            <div class="row mx-auto">
            <div class="col-4 mt-5 mx-auto m-5">
                <a href="{% url 'nurses' %}" class="btn btn-secondary">Back To Nurses</a>
            </div>
            <div class="col-4 mt-5 mx-auto m-5">
                <a href="{% url 'add_nurse' %}" class="btn btn-secondary">Add New Nurse</a>
            </div>
            <div class="col-4 mt-5 mx-auto m-5">
                <a href="{% url 'nurses' %}" class="btn btn-secondary">Back Home</a>
            </div>
        </div>
        </div>
    </div>
</div>
 
{% endblock %}
    {% else %}
    {% include "login1.html" %}
{% endif %}